html,body,#root,.App{
  height: 100%;
}
.App {
  /* text-align: center; */
  background: #159957;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #155799, #159957);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

.main-container{
  width: 30%;
  padding: 30px;
}
.add-todo-input{
  width: 100%;
}


@media only screen and (min-width: 320px) and (max-width: 1024px){
  .btn,.list{
    width: 20em;
    font-size: 1rem;
  }
  .main-container{
    width: 20em;
  }
}